/***** BASE STYLES *****/
body {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/***** GRID *****/
.full-width {
    margin: 0px auto;
    width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  float: left;
  width: 400px;
}

/***** HEADER *****/

#header h1 {
  text-transform: uppercase;
  padding: 30px 0px 30px 6px;
}

#header h1 span {
    color: #77A466;
}

#header nav {
    float: right;
    padding: 30px 6px 0px 0px;
    word-spacing: 23px;
}

#header nav ul li {
    display: inline-block;
}

#header nav ul li a {
    color: #77A466;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/***** ABOUT *****/

#about h2 {
  color: #77A466;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0 15px 0;
  text-transform: uppercase;
}

#about p {
  border-bottom: solid #dedbdc 1px;
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  padding-bottom: 25px;
}

#borderimg1 {
  border-bottom: solid #77A466;
  border-top: solid #77A466;
}

/***** MENU, REVIEWS, CONTACT *****/
#menu .third-width {
  box-sizing: border-box;
  padding: 20px 0px 0px 0px;
  width: 400px;
}

#menu ul {
  padding-left: 0;
}

#menu ul li {
  color: #77A466;
  display: block;
  font-weight: normal;
  line-height: 250%;
  list-style-type: none;
  text-transform: capitalize;
}

#reviews .third-width {
  border-left: solid #dedbdc 1px;
  border-right: solid #dedbdc 1px;
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
}

#reviews p {
  font-size: 16px;
  font-weight: normal;
  line-height: 125%;
  padding-top: 10px;
  text-transform: none;
}

#contact .third-width {
  box-sizing: border-box;
  padding: 20px 0px 0px 20px;
  width: 400px;
}

#contact p {
  font-size: 16px;
  font-weight: normal;
  padding-top: 10px;
}

/***** FOOTER *****/
#footer .full-width {
  clear: both;
  border-top: solid #dedbdc 1px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#footer span {
  color: #77A466;
  font-family: 'Galada', cursive;
  font-size: 16px;
  font-weight: normal;
  text-transform: lowercase;
}
